<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/api/login" method="post">
        <div>
            <label for="username">Email:</label>
            <input type="email" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>No tienes una cuenta? <a href="/api/register">Regístrate aquí</a></p>
    <p>O inicia sesión con:</p>
    <div>
        <a href="/api/github"><button>Login con GitHub</button></a>
        <a href="/api/sesion"><button>Login con Google</button></a>
    </div>
</body>
</html>
