<body class="login">
    <h1>Login</h1>
    {{#if error}}
            <p class="error">{{error}}</p>
        {{/if}}
    <form action="" method="post">
        <div>
            <label for="username">Email</label>
            <input type="email" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    
    <div>
        <p>¿No tienes una cuenta? <a href="/api/register">Regístrate aquí</a></p>
        <p>O autenticarse con:</p>
        <a href="/api/login/github">
            <button>Login con GitHub</button>
        </a>
    </div>
</body>